body {
  background-color: whitesmoke;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
